# Environment and credentials
.env
keys/
*.key

# Local cache and temporary data
cache/
tmp/
logs/
*.log
*.age
*.tar
*.gz
!pkg/oci/assets/*.gz
*.enc
*.dat

# IDE and OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini


config.linux.json
config.windows.json

# Binaries
/ark
/ark.exe
*.exe
